.fp {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.fpItem{
  flex: 1;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fpImg{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.fpName{
  /* color: #333; */
  font-weight: bold;
}

.fpCity{
  font-weight: 100;
}

.fpPrice{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.fpRating>button{
  background-color: #003580;
  color: white;
  border: none;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 5px 5px 5px 0px;
}

.fpRating>span{
  font-size: 14px;
}
.review{
  padding-left: 12px;
}

@media screen and (max-width:500px){
  .fp{
    display: block;
    text-align: center;
  }
  .fpItem{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
  }
  .fpRating{
    display: block;
  }

}